{{#each this}}
<div class="card">
    <div class="box">
        <h2>{{name}}</h2>
    </div>
    <div class="container">
        <div>
            <p>Capital: <span class="text">{{capital}}</span></p>
            <p>Population: <span class="text">{{population}}</span></p>
            <p>Languages:
            <ul class="list">
                {{#each languages}} <li>{{name}}</li>{{/each}}
            </ul>
            </p>
        </div>
        <img src="{{flag}}" alt="{{name}} width=" 200" height="200"">
    </div>
</div>
{{/each}}